
<div class="censored-container">
  <div class="user-info">
    <h2>{{ currentUser.fullName }}</h2>
    <h3>{{ currentUser.username }}</h3>
  </div>

  <button (click)="goToHome()" class="home-button">Vissza a kezdőlapra</button>
  <button (click)="logout()" class="logout-button">Kilépés</button>
  

  <h2>Szöveg cenzúrázása</h2>

  <div>
    <label>Feketelista (egy sor: szó&#64;alternatíva1,alternatíva2...)</label><br />
    <textarea [(ngModel)]="blacklistInput" rows="6" cols="60"></textarea>
  </div>

  <div>
    <label>Elemzendő szöveg</label><br />
    <textarea [(ngModel)]="inputText" rows="6" cols="60"></textarea>
  </div>


  <button (click)="processText()" class="check-button">
   CHECK
  </button>

  <button (click)="goToWordCloud()" class="wordcloud-button">
   SZÓFELHŐ
  </button>

  <div class="processed-text">
    <span *ngFor="let word of processedWords">
     <span class="badge badge-old">{{ word.original }}</span>
     <span class="badge badge-new">{{ word.replaced }}</span>
    </span>
  </div>

  <h3>Eredmény</h3>
  <div [innerHTML]="outputText" class="result-container"></div>
</div>

